extends layout

block main
    h1 Malin Antonsson.
    :marked
        I’m a Front-end developer based in London. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi rhoncus, quam eu interdum volutpat, mi nisi semper erat, et mollis risus odio vel felis. Aenean eu diam convallis, aliquet nunc finibus, laoreet dui. 

        Ut ultricies ipsum congue turpis congue, ut facilisis ex accumsan. 

block sidenav
    ul.projects
        - var projects = records.projects
        each project in projects
            +project-list(project)
