extends layout

block main
    h1 Hello, my name is Malin Antonsson.
    :marked
        I’m a Front-end developer based in London. I have a passion for progressive enhancement, performance and I care deeply about user experience and design. I’m currently working at Zone where I build accessible websites using es6, sass and webpack.

        I’m constantly trying out new techniques, check out my codepen for my latest trials and errors.

block sidenav
    ul.projects
        - var projects = records.projects
        each project in projects
            +project-list(project)
