include _includes.jade
doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='description of your site')
    meta(name='author', content= "author of the site")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= _path
    != css()

  body.body
    div.wrapper
      main.content
        block main

      footer.footer
        nav.contact
          ul.contact-list
            - var contactList = records.contactList
            each contact in contactList
              +contact-item(contact)

    nav.sidenav
        block sidenav

    script(src='js/build.js')
