@import '_settings'

@import 'components/_projects'
@import 'components/_sidenav'

normalize-css()
base()

.body
    display: flex
    height: 100%;
    min-height: 100%;
    top: 0;
    bottom: 0;
    position: absolute;
    width: 100%;

.content,
.sidenav
    flex-basis: 50%

main
  background-color: gray
